/* styles.css */

.inputRow {
    display: flex;
    width: 390px;
    flex-direction: column;
    align-items: center;
}

#loginModal input {
    font-size: 20px;
    margin-bottom: 15px;
}

#outerDiv {
    display: flex;
    flex-direction: column;
    width: 390px;
    align-items: center;
}

#headerDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 25px 0px;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input, .input option {
    height: 40px;
    font-size: 20px;
}

button {
    height: 40px;
    width: 110px;
    font-size: 20px;
}

.saveBtn {
    align-self: center;
    margin: 25px 0px;
}